


/* @group FoodMenu */

.food-menu-title 	{
	padding-bottom: .2em;
	clear:both; 
	margin: 1em 0 1em 26px;
	text-align: center;
	clear:both; 
	background:url("../images/dot.gif") 0 50% repeat-x;
	}
	
.food-menu-title img {
	position: relative;
	float: right;
	margin-right: 1em;
	margin-top: -1em;
	overflow: visible;
	height: 3.5em;
	width: 3.5em;
}
.food-menu-title span.title {
	line-height: 1.4em;
	margin-left:1em;
	letter-spacing: .3em; 
	padding: 0 .5em; 
	text-transform:uppercase;
	background: #faf7ee;
	}

.list {
		line-height: 1.5;
}

.food-menu .archive.list {
	/*padding-left: 35%;*/
}

.list .item {
	background: url(../images/thinline.jpg) bottom repeat-x;
	list-style-type: none;
	padding-bottom: .4em;
	margin-bottom: 1.9em;
}

.single #tertiary .list .item {
	background: none;
}

.short.list .item {
	padding-bottom: 1.9em;
	margin-bottom: 1.9em;
}

.list .item .title, .short.list .item .title {
	display: block;
	font-weight: normal;
	clear: left;
	font-size: 1.1em;
}

.list .item .title span {
	text-transform: lowercase;
	font-style: italic;
	color: #999780;
}

.list .item .meta {
	font-style: italic;
	float: left;
	list-style-type: none;
}

.list .item .description {
	font-style: italic;
	float: left;
	font-size: 12px;
	display: block;
	margin-bottom: 1.9em;
	margin-top: 0.5em;
}

.food-menu .item .meta {
	float: right;
	margin-top: -1.667em;
	font-size: .857em;
}

.list .item .meta .date:after {
	content: "—";
}

.single .list .item .meta .date:after {
	content: "";
}

.list .item .text {
	
}

.remarks{
	font-size: 1.1em;
}

/* @end */